@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Manrope:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Manrope', sans-serif;
    color:black;
    
}
a {
    text-decoration-line: none;
    color: inherit;
}
/*Main image banner*/

#banner {

    max-width: 100%;
  
}
.image-banner {
    max-width: 100%;
    animation: fadeIn 5s;
    
    border-radius: 0.5%;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
/*nav bar*/
#menu {
    font-size: 120%;
    list-style-type: none;
    letter-spacing: 1px;
    clear: left;
    width: max-content;
    margin: 0 auto 10px;
    
    text-align: center;
    border-bottom: 2px ridge  rgba(139, 0, 0, 0.3);
    
}
#menu li {
    display: inline;
}
.active {
    border-bottom: 2px solid white;
 
 }
/*Logo + headings*/
h1, h2 {
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    letter-spacing: 1px;
    color: #000000;
    text-align: center;
}
h2 {
    color: rgb(139, 0, 0);
    margin-top: 25px;
    margin-bottom: 10px;
    
}
#logo {
    
    font-size: 200%;
    width: 350px;
    margin: 0 auto;
}
/*Text structure*/
#text {
    float:left
}
.wrapper p {
    margin: 0 10%;
    max-width: 80%;
    line-height: 25px;
    
}
#text p {
    text-align: center;
}
/*Footer - Social links*/
footer {
    
}
.social {
    
    text-align: center;
    
 
}
.social > li {
    
    display: inline;
}
.social i {
    
    font-size: 180%;
    margin: 1%;
    padding: 5%;
    
}
/*gallery*/

#gallery {
    text-align: center;
    margin: 40px auto;
     line-height: 15px;
}
#gallery img {
   
}
#gallery  h2 {
    font-size: 150%;    
    margin-bottom: 40px;
    
    
}
.picture {
    
    max-width: 100%;
    transition: transform 1s;
}
.picture:hover {
    transform: scale(1.05);
}