@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Manrope:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Manrope', sans-serif;
    color:black;
    
}
a {
    text-decoration-line: none;
    color: inherit;
}
/*Main image banner*/

#banner {

    max-width: 100%;
  
}
.image-banner {
    max-width: 100%;
    animation: fadeIn 5s;
    
    border-radius: 0.5%;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
/*nav bar*/
#menu {
    font-size: 120%;
    list-style-type: none;
    letter-spacing: 1px;
    clear: left;
    width: max-content;
    margin: 0 auto 10px;
    
    text-align: center;
    border-bottom: 2px ridge  rgba(139, 0, 0, 0.3);
    
}
#menu li {
    display: inline;
}
.active {
    border-bottom: 2px solid white;
 
 }
/*Logo + headings*/
h1, h2 {
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    letter-spacing: 1px;
    color: #000000;
    text-align: center;
}
h2 {
    color: rgb(139, 0, 0);
    margin-top: 25px;
    margin-bottom: 10px;
    
}
#logo {
    
    font-size: 200%;
    width: 350px;
    margin: 0 auto;
}
/*Text structure*/


.wrapper p {
    margin: 0 10%;
    max-width: 80%;
    line-height: 25px;
    
}
#text p {
    text-align: center;
}
/*Footer - Social links*/
footer {
    clear: both;
}
.social {
    
    text-align: center;
    
 
}
.social > li {
    
    display: inline;
}
.social i {
    
    font-size: 180%;
    margin: 1%;
    padding: 5%;
    
}
/*gallery*/

#gallery {
    text-align: center;
    margin: 40px auto;
     line-height: 15px;
}
#gallery img {
   
}
#gallery  h2 {
    font-size: 150%;    
    margin-bottom: 40px;
    
    
}
.picture {
    
    max-width: 100%;
    transition: transform 1s;
}
.picture:hover {
    transform: scale(1.05);
}
/*form*/

.form-main {
    margin: 25px auto;
    
    
    width: 80%;
    
    
}
.signup-form {
    
   
}
.contact-details {
    margin: 50px auto;
    
    width: 80%;
    height: fit-content;
    clear: left;
    text-align: center;
}
.form-main {
    
}
.contact-details p {
    margin-top: 30px;
}

.text-input {
    width:100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 2px;
}
#comment {
    border: 1px solid black;
    width: 100%;
    margin: 5px 0 20px 0;
    
}
.submit {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 110%;
    display: block;
    padding:10px;
    border-radius: 5px;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
}
.submit:hover{
    font-size: 120%;
}

/*media queries*/
/*For large screen devices 1200px and above*/
@media screen and (min-width : 1200px) { 
    #logo {
        margin-left: 20px;
        display: inline;
        font-size: 250%; 
    }
    #navbar {
        margin:15px 10px 0 0;
        float: right; 
    }
    
    #text p {
       text-align: left;
       padding: 0 20px;
    }
    #left-about {
        
        width: 25%;
        float: left;
    
        
    }
   
    #center-about {
        
        width: 25%;
        margin-left: 13%;
       
        display: inline-block;
    
    }
    #center-about p {
        text-align:center;
    }
    #center-about h2, #right-about h2  {
        margin-top: 0px;
        padding-top: 25px;
        
    }
   
    
    #right-about {
        
        width: 25%;
        
        float: right;
  
    }
    #right-about p {
        text-align: right;
        margin-right: 10%;
        
    }
    #right-about h2 {
        padding-left: 10%;
        
    }
    
   
}

